* {

    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.container {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
    font-family: pathway Extreme;
}

.navbar {
    background-color: #003773;
    grid-column: 2/4;
}

.search-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    gap: 15px;
}

.material-symbols-outlined {
    display: flex;
    justify-content: center;
    align-items: center;
    font-variation-settings:
        'FILL' 0,
        'wght' 800,
        'GRAD' 0,
        'opsz' 100
}

.top-nav {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 25px;
}

.search {
    height: 1.5rem;
    width: 2000px;
    color: black;
    background-color: #CCCCCC;
    border: #00174C 2px solid;
    border-radius: 15px;
}

.pfp {
    height: 60px;
    width: 60px;
    border-radius: 200px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #CCCCCC;
}

.sidebar {
    background: #00174C;
    color: #CCCCCC;
    grid-row: 1/4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    height: 7rem;
    width: 12rem;
}

.side-card {
    width: 18.5rem;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-nav {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.nav-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 15px;
    height: 300px;
    font-size: 20px;
    font-weight: bold;
}

.nav-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    font-size: 20px;
    font-weight: bold;
    background-color: #00174C;
}

.side-card:hover {
    color: #FFCC00;
    background-color: #FF004c;
    border-left: #FFCC00 2px solid;
    border-bottom: #FFCC00 2px solid;
    border-radius: 4px;
    width: 100%;
    height: 43px;
    justify-content: center;
    align-items: center;
}

.projects {
    color: white;
    background-color: black;
    grid-row: 2/4;
}

.announcements {
    background-color: palegoldenrod;
}

.trending {
    background-color: powderblue;
}