* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    width: 100vw;
    height: 100vh;
    font-family: pathway Extreme;
}

.header {
    background-color: #1F3F6E;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-column: 2/3;
    gap: 1rem;
    width: 100%;
}

.search-container {
    display: flex;
    padding-left: 2rem;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.search-input {
    width: 39rem;
    height: 1.5rem;
    border-radius: 15px;
    border: solid 2px #D2003C;

}

.account-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.bell {
    height: 2rem;
}

.max {
    height: 3rem;
    border-radius: 100px;
}

.max-name {
    color: #F8F8F8;
}

.status-container {
    display: grid;
    grid-template-columns: .5fr 3fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.status-words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.status-image {
    height: 5rem;
    width: 5rem;
    border-radius: 100px;
    justify-self: center;
}

.name-status {
    font-weight: 800;
    color: #F8F8F8;
}

.greetings-status {
    color: #F8F8F8;
}

.update-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #D2003C;
    height: 3rem;
    width: 7rem;
    border-radius: 1rem;
    color: #F8F8F8;
    border: 2px solid #FFCC00;
}

button:active {
    border: 2px solid #D2003C;
    background-color: #FFCC00;
    color: #1F3F6E;
}


.search-logo {
    height: 2rem;
}

.side-nav {
    background-color: #011E3D;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.main-logo {
    height: 12rem;
}

.top-one {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}

.dash {
    color: #F8F8F8;
    font-size: 1.25rem;
    font-weight: 500;
    justify-content: center;
    display: flex;
    margin: 2px;
}

.dash:hover {
    background-color: #D2003C;
    border-radius: 5px;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 3rem;
    width: 100%;
}

.main {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 25px;
    gap: 15px;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(300px 2fr));
    gap: 15px;

}

.card {
    background-color: #1F3F6E;
    border-radius: 10px;
    border: #D2003C 2px solid;
    color: #F8F8F8;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}

.title {
    font-weight: bolder;
    font-size: large;
    align-self: center;
    align-content: center;
}

.desc {

    font-size: large;
}

.right-main {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    color: #F8F8F8;
}

.trending {
    background-color: #1F3F6E;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.trend-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trend-title {
    color: #D2003C;
}

.trend-disc {
    margin: 10px;
    font-size: small;
    color: #FFCC00;
}

.announcements {
    background-color: #1F3F6E;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}